* {
  box-sizing: border-box;
}


.nav-links {
    margin-top: 50px; /* Aumente o valor conforme necessário */
    margin-right: 80px; /* Aumente o valor conforme necessário */
  }

  nav a {
    color: white !important;
    font-weight: 500;
    font-size: 25px;
  }

  nav a:hover {
    color: #ddd !important;
    text-decoration: underline;
  }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
   .logo {
    height: 40px;
    margin-top: 50px;
  }

  .hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Nova div com imagem de fundo */
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagens/hero.png'); /* Ajusta o caminho */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Conteúdo sobre o fundo */
nav,
.hero-title {
  position: relative;
  z-index: 1;
}

/* Título */
.hero-title {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 1rem;
}

.hero-title h1 {
  font-size: 4rem;
  font-weight: bold;
}




/* Seção de conteúdo inferior */
.info-section {
  background: rgba(180, 155, 44, 0.25);
  font-family: 'Jura', sans-serif;
  color: #000000;
  font-size: 1.2rem;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
}

/* Colunas dentro da info-section */
.info-section .col-md-6 {
  flex: 1 1 100%;
  padding: 1rem;
}

/* Linha vertical apenas em telas médias ou maiores */
@media (min-width: 768px) {
  .info-section .col-md-6 {
    flex: 1;
  }

  .info-section .col-md-6:first-child {
    border-right: 2px solid #000000;
  }
}

/* Slogan */
.slogan {
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-align: center;
  font-weight: 300;
  padding: 20px;
  color: #000000;
}

/* Ajuste de slogan em telas menores */
@media (max-width: 768px) {
  .slogan {
    font-size: 1.2rem;
    letter-spacing: 5px;
    padding: 15px;
  }
}

.highlight {
  color: #686931;
  font-weight: 600;
}

/* Título Trabalhos Remotos */
.section-title,
.info-section h5 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* Caixa com links de trabalhos */
.remote-jobs-box {
  font-size: 20px;
  font-family: 'Jura', sans-serif;
  position: relative;
  line-height: 22px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Ajuste de listas */
.remote-jobs-box ul {
  list-style: none;
  padding: -30px;
  margin-left: 50px;
}

/* Cantos decorativos */
.remote-jobs-box::before,
.remote-jobs-box::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
}

/* canto superior esquerdo */
.remote-jobs-box::before {
  top: -12px;
  left: 350px;
  border-top: 10px solid black;
  border-left: 10px solid black;
}

/* cantos direitos */
.remote-jobs-box .corner-top-right,
.remote-jobs-box .corner-bottom-right {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: none;
}

/* canto inferior direito */
.remote-jobs-box .corner-bottom-right {
  bottom: 5px;
  right: 310px;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}


/* Seção Acomodação */
.acomodacao-section {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  width: 100%;
  height: 55vh; /* Altura ajustável */
  overflow: hidden; /* Impede overflow lateral visível */
  position: relative;
}

.acomodacao-main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-side {
  flex: 1; /* A imagem ocupa metade da largura */
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
}

.acomodacao-content-side {
  flex: 1; /* A parte de conteúdo ocupa a outra metade */
  background-color: black;
  color: white; /* Texto branco para contrastar com o fundo preto */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Garante que o conteúdo fique no centro verticalmente */
  align-items: center; /* Garante que o conteúdo fique no centro horizontalmente */
  padding: 2rem; /* Ajustado para um padding mais controlado */
  position: relative;
}

.acomodacao-image-side img {
  width: 100%; /* A imagem ocupa toda a largura disponível */
  height: 100%; /* A imagem ocupa toda a altura disponível */
  object-fit: cover; /* A imagem mantém suas proporções sem distorcer */
  object-position: center center; /* Centraliza a imagem */
}

.section-text {
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
}

.descobrir-btn {
  border: 2px solid white;
  border-radius: 30px;
  padding: 12px 40px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px; /* Ajuste para o espaçamento entre o texto e o botão */
}

.descobrir-btn:hover {
  background-color: white;
  color: black;
}




/* Section locais e EXPLORAR */
.dual-section.reverse .section-text {
  color: black;
}

.dual-section.reverse .content-side {
  background-color: rgba(180, 155, 44, 0.25); /* Cor de fundo para a parte esquerda */
}

.dual-section {
  display: flex;
  width: 100%;
  height: 55vh; /* Altura ajustável */
  margin: 0 auto;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-side {
  flex: 1; /* A imagem ocupará metade da largura */
  height: 100%;
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
}

.content-side {
  flex: 1.2; /* A parte de conteúdo será um pouco menor que a da imagem */
  background-color: black;
  color: white; /* Texto branco para contrastar com o fundo preto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Ajustado para um padding mais controlado */
  position: relative;
}

.image-side img {
  width: 100%; /* A imagem ocupa toda a largura disponível */
  height: 100%; /* A imagem ocupa toda a altura disponível */
  object-fit: cover; /* A imagem mantém suas proporções sem distorcer */
  object-position: center center; /* Centraliza a imagem */
}

.section-text {
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
}


/* Estilo do botão Explorar */
.discover-btn-light {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.discover-btn-light:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}



/*Footer */
.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.footer-title {
  font-size: 35px;
  margin-bottom: 2rem;
  letter-spacing: 0px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer-icons img {
  width: 60px; 
  height: 60px;
  object-fit: contain;
}

.footer-subtitle {
  font-size: 15px;
  opacity: 0.7;
}

/* Estilo do botão BLOG */
.discover-btn {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.discover-btn:hover {
  background: rgb(0, 0, 0);
  color: black;
}




/* Botão scroll para o topo */
.scroll-top-btn {
  position: absolute;
  bottom: 40px; /* Distância do fundo da div preta */
  width: 60px; /* Ajustei o valor do width para 50px */
  height: 60px;
  border-radius: 50%; /* Botão redondo */
  background-color: rgb(0, 0, 0); /* Cor de fundo preta */
  border: 2px solid #ffffff; /* Borda branca */
  color: rgb(255, 255, 255); /* Cor do ícone (branco) */
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições para fundo e cor */
}

/* Hover - Quando o mouse passa por cima */
.scroll-top-btn:hover {
  background-color: rgb(255, 255, 255); /* Fundo branco */
  color: rgb(0, 0, 0); /* Texto e ícone pretos */
  border: 2px solid rgb(0, 0, 0); /* Borda preta */
}

/* Botão Scroll Up na seção "Descobrir" (à direita) */
.dual-section.reverse .scroll-top-btn {
  right: 40px; /* Posiciona o botão à direita */
  left: auto; /* Garante que o botão não fique afetado por outras propriedades */
}

/* Botão Scroll Up na seção "Explorar" (à esquerda) */
.dual-section .scroll-top-btn {
  left: 40px; /* Posiciona o botão à esquerda */
  right: auto; /* Garante que o botão não fique afetado por outras propriedades */
}

/* Estilo da imagem no botão */
.scroll-top-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}